<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Dave's Burnout</title>
    <link rel="stylesheet" th:href="@{/css/LoginPage.css}">
    <link rel="stylesheet" th:href="@{/css/MenuPage.css}">
    <link rel="stylesheet" th:href="@{/css/EventsPage.css}">
    <link rel="stylesheet" th:href="@{/css/Accounts
    Page.css}">
</head>
<body>
<nav class="navbar">
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/menu}" class="active">Menu</a></li>
        <li><a th:href="@{/events}">Events</a></li>
        <li><a th:href="@{/account}">Account</a></li>
    </ul>
</nav>
<div class="menu-container">
    <h1>Account</h1>
</div>
</body>
</html>