<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Dave's Burnout</title>
    <link rel="stylesheet" th:href="@{/css/LoginPage.css}">
    <link rel="stylesheet" th:href="@{/css/MenuPage.css}">
</head>
<body>
<nav class="navbar">
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/menu}" class="active">Menu</a></li>
        <li><a th:href="@{/events}">Events</a></li>
        <li><a th:href="@{/account}">Account</a></li>
    </ul>
</nav>
<div class="menu-container">
    <h1>Our BBQ Menu</h1>
    <div class="menu-grid">
        <div class="menu-item" th:each="i : ${#numbers.sequence(1,6)}">
            <img th:src="@{https://picsum.photos/seed/{i}/300/200}" alt="Menu Item" />
            <h3>Item [[${i}]]</h3>
        </div>
    </div>
</div>
</body>
</html>